<div class="courses-containers">
    <div class="courses-list">
        <mat-card>
        <mat-card-header>
            <mat-card-title>
            Course List
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-list
            *ngFor="let course of courses"
            (click)="selectCourse(course)"
          >
            <h3 matLine>{{course.title}}</h3>
            <p matLine class="note">{{course.description}}</p>
            <button 
              mat-icon-button 
              color="warn"
              (click)="deleteCourse(course.id); $event.stopImmediatePropagation()"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </mat-list>          
        </mat-card-content>
        </mat-card>
    </div>

    <div class="course-details">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Select Course
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
            
            <!-- COURSE FORM -->
            <pre *ngIf="selectCourse;">{{currentCourse | json}}</pre>

            </mat-card-content>
            <mat-card-actions>

            <!-- COURSE ACTIONS -->

            </mat-card-actions>
        </mat-card>
    </div>
</div>